div {
}

#first-div {
  background-color: #39cccc;
  width: 200px;
  height: 200px;
  padding: 50px;
  border: 5px solid black;
}

#second-div {
  box-sizing: border-box;
  background-color: #ff4136;
  width: 200px;
  height: 200px;
  padding: 50px;
  border: 5px solid black;
}

#third-div {
  min-height: 10px;
  background-color: yellow;
  border: 1px solid black;
/* min-height: 10 */

}

p {
  background-color: #7fdbff;
}

.image-1-container {
  background-color: blue;
  width: 200px;
  height: 200px;
}
